
$bc-cyan: #00aeef;
$bc-magenta: #ec008c;
$bc-yellow: #FFFF00;
$bc-gray: #3a3a3a;

$font: "Roboto", sans-serif;

/* MEDIA BREAKPOINTS */

$mobile: 37.5rem; /* 600px */
$tablet: 48rem; /* 768px */
$desktop-small: 60rem; /* 960px; */
$desktop: 80rem; /* 1280px; */
$desktop-standard: 112.5rem /* 1800px */


